---
import Layout from "../layouts/Layout.astro"
import AsmDisplay from "../components/AsmDisplay.astro"
import AsmManual from "../components/AsmManual.astro"
---

<Layout title="CPYOU">
    <main class="flex items-center justify-center h-screen gap-10">
        <AsmDisplay source=`square:\n        push    rbp\n        mov     rbp, rsp\n        mov     DWORD PTR [rbp-4], edi\n        mov     eax, DWORD PTR [rbp-4]\n        imul    eax, eax\n        pop     rbp\n        ret`/>
        <AsmManual/>
    </main>
</Layout>
