---
import Layout from "../layouts/Layout.astro"
import AsmDisplay from "../components/AsmDisplay.svelte"
import AsmManual from "../components/AsmManual.svelte"
import CPURegisters from "../components/CPURegisters.svelte"

---

<Layout title="CPYOU">
    <main class="flex flex-wrap gap-10 p-10 justify-around">
        <CPURegisters client:load/>
        <AsmDisplay client:load/>
        <AsmManual client:load/>
    </main>
</Layout>
