---
interface Props {
	source: string;
}

const { source } = Astro.props;

---


<div class="flex flex-col items-center justify-center whitespace-pre bg-base-300 w-fit h-fit rounded-md shadow-xl">
    <b>INTEL x86 ASM</b>
    <div>
        <code id="code" class="!p-5 rounded-b-lg">{source}</code>
    </div>
</div>
<script>
    import hljs from 'highlight.js/lib/core';
    import x86asm from 'highlight.js/lib/languages/x86asm';

    hljs.registerLanguage('x86asm', x86asm);

    hljs.highlightElement(document.getElementById('code'));

</script>