---
---
<div class="w-80 h-96 bg-amber-900 p-3 font-mono rounded-lg shadow-lg text-right flex flex-col items-end">
    <h1 class="text-amber-100 text-md w-2/3">The x86 Assembly Instruction Set</h1>
    <p class="text-xs">INTEL, 1995</p>
    <!-- <p class="">hello</p> -->
    <!-- <img class="self-end justify-self-end w-10" src="https://www.hatchwise.com/wp-content/uploads/2023/03/image-18.png.webp"/> -->
</div>